.map-container {
  @apply w-full lg:aspect-video lg:h-[30rem] h-[100vh];
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

::ng-deep .leaflet-control-attribution.leaflet-control {
  @apply hidden;
}

::ng-deep .leaflet-marker-icon {
  margin-top: -50px !important;
}

::ng-deep .leaflet-routing-container {
  display: none !important;
}
