.map-container {
  @apply w-full h-full;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

::ng-deep .leaflet-control-attribution.leaflet-control {
  @apply hidden;
}

::ng-deep .leaflet-marker-icon {
  margin-top: -50px !important;
}

::ng-deep .leaflet-routing-container {
  display: none !important;
}

.ripple-dot {
  @apply bg-primary rounded-full;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(20px);
  z-index: 400;
  animation: rippleDot 1.5s infinite;
}

.animation-reveal {
  transform: translate(-50%, -12px) translateZ(20px);
  animation: reveal 0.3s both;
}

@keyframes rippleDot {
  from {
    transform: translate(-50%, -50%) rotateX(60deg) scale(0.1);
    opacity: 0.2;
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(60deg) scale(1);
  }
}

@keyframes reveal {
  from {
    transform: translate(-50%, -12px) scaleX(0.5);
  }
  to {
    transform: translate(-50%, -12px) scaleX(1);
  }
}
