<a class="text-black hover:text-black">
  <div class="restaurant-card rounded-xl cursor-pointer group mb-8 md:flex-col flex md:gap-0 gap-3">
    <div class="mb-3 relative">
      <div
        class="restaurant-banner bg-primary flex justify-center items-center md:aspect-video aspect-square overflow-hidden rounded-xl w-24 md:w-auto">
        <img src="" onerror="this.src='assets/img/foods/food-default.webp'"
          class="max-w-full origin-center transition-all duration-500 group-hover:scale-110 md:w-full md:h-auto object-cover w-full h-full">
      </div>
      <div class="restaurant-promo absolute -top-[5px] left-3 md:h-7 h-4 md:w-9 w-4 bg-primary text-center text-white font-medium">
        <div class="absolute top-full -translate-y-[1px] left-0 right-0 border md:border-x-[18px] border-x-8 md:border-y-8 border-y-4 border-t-0 border-solid border-primary border-b-transparent"></div>
        <div class="absolute top-0 left-full border border-x-4 border-y-4 border-b-0 border-r-0 border-solid border-[#008c3f] border-t-transparent"></div>
      </div>
    </div>
    <div class="restaurant-content flex flex-col md:gap-4 gap-2">
      <div class="restaurant-name line-clamp-2 text-sm md:text-lg font-bold uppercase leading-6">Heo Con - Gà Rán, Khoai Lắc Hamburger &
        Kimbap - Đào Trinh Nhất</div>
      <div class="flex flex-col gap-2">
        <div class="cuisine-types line-clamp-1 text-grey1 md:text-base text-xs">Gà Rán - Burger,Trà Sữa,Pizza,Cơm</div>
        <div class="flex md:gap-3 gap-2 max-w-full">
          <div class="restaurant-rate flex items-center md:gap-2 gap-1">
            <i class="fa-solid fa-star text-yellow-400 md:text-base text-xs"></i>
            <div class="text-grey1 md:text-base text-xs">4.7</div>
          </div>
          <div class="restaurant-duration hidden xs:flex items-center md:gap-2 gap-1">
            <i class="fa-regular fa-clock text-grey1 md:text-base text-xs"></i>
            <div class="text-grey1 md:text-base text-xs">25m</div>
          </div>
          <div class="restaurant-distance hidden xs:flex items-center md:gap-2 gap-1">
            <i class="fa-regular fa-map text-grey1 md:text-base text-xs"></i>
            <div class="text-grey1 md:text-base text-xs">0.5km</div>
          </div>
        </div>
      </div>
      <div class="flex items-center">
        <i class="fa-solid fa-tag rotate-90 text-primary"></i>
        <span class="ml-2 text-xs text-gray-600 py-1 px-2 bg-orange-100">Ưu đãi 17k</span>
      </div>
    </div>
  </div>
</a>
