<!-- MENU TAB -->

<div class="sticky z-50 pt-8 top-20 -translate-y-[1px] bg-white hidden md:block shadow-sm">
  <div class="sectionContainer">
    <div class="px-8 relative">
      <div #tabsContainer class="tabs-contanter flex relative h-fit items-center overflow-hidden">
        <div #tabsNav class="tabs-nav" [ngStyle]="{'transform': 'translateX(' + tabsPosition + 'px)'}"
          class="flex items-center transition-all duration-300">
          <div *ngFor="let item of restaurantCategory; let i = index" (click)="selectResCate(i)" role="tab"
            [ngClass]="{'active': selectedCategory === i}"
            class="tab py-3 px-6 hover:text-primary cursor-pointer text-[16px] text-gray-500 text-center inline-block whitespace-nowrap select-none">
            {{ item.categoryName }}
          </div>
        </div>
      </div>

      <button (click)="handleButtonTab(-stepScrollTabValue)"
        class="hover:text-primary w-8 h-8 text-gray-400 absolute left-0 top-[50%] -translate-y-[50%] bg-white">
        <i class="fa-solid fa-chevron-left"></i>
      </button>

      <button (click)="handleButtonTab(stepScrollTabValue)"
        class="hover:text-primary w-8 h-8 text-gray-400 absolute right-0  top-[50%] -translate-y-[50%] bg-white">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>

<!-- MENU TAB CONTENT -->

<div class="tab-content md:bg-gray-100 bg-white pt-16">
  <div class="sectionContainer">
    <section *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13]" [id]="'section' + item"
      class="md:mb-16 md:py-0 px-0 py-5">
      <h1 class="mb-0 md:mb-3 lg:mb-6 font-bold text-lg md:text-2xl lg:text-4xl leading-[3rem]">Tên danh mục thứ {{ item
        }}</h1>
      <div nz-row [nzGutter]="{md:12, lg:20}" class="product-list">
        <div *ngFor="let item of [1,2,3,4,5,6,7,8]; let last = last" nz-col nzSpan="24" nzLg="8" nzMd="12"
          class="md:mb-3 ld:mb-5">
          <div class="md:border-0 border border-x-0 border-t-0 border-gray-200"
            [ngClass]="{'border-transparent': last}">
            <app-food-card></app-food-card>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>