.cbx {
  position: relative;
  top: 1px;
  width: 27px;
  height: 27px;
  border: 2px solid #c8ccd4;
  border-radius: 3px;
  cursor: pointer;
  display: block;
 }

 .cbx:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 8px;
  width: 7px;
  height: 14px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
 }

 .lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
 }

 .promo-item-checkbox:checked ~ .cbx {
  @apply bg-primary border-transparent;
  animation: jelly 0.6s ease;
 }

 .promo-item-checkbox:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
 }

 .cntr {
  position: relative;
 }

 @keyframes jelly {
  from {
   transform: scale(1, 1);
  }

  30% {
   transform: scale(1.25, 0.75);
  }

  40% {
   transform: scale(0.75, 1.25);
  }

  50% {
   transform: scale(1.15, 0.85);
  }

  65% {
   transform: scale(0.95, 1.05);
  }

  75% {
   transform: scale(1.05, 0.95);
  }

  to {
   transform: scale(1, 1);
  }
 }

 .hidden-xs-up {
  display: none!important;
 }

 .compaigns-body {
  scroll-behavior: smooth;
  will-change: transform;
 }
 .compaigns-body::-webkit-scrollbar {
  width: 4px;
}

.compaigns-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.compaigns-body::-webkit-scrollbar-thumb {
  background-color: #676767d7;
  outline: 1px solid transparent;
}
