<div class="w-full h-full">
  <div class="sectionContainer h-full">
    <ng-container *ngIf="wishlist.length > 0">
      <div nz-row nzGutter="20" class="py-5">
        <div *ngFor="let item of wishlist; let last = last" nz-col nzSpan="24" nzLg="12">
          <app-restaurant-card [restaurant]="item"></app-restaurant-card>
          <div class="lg:hidden block w-full h-[1px] bg-gray-300" [ngClass]="last ? 'hidden' : ''"></div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="wishlist.length === 0">
      <div class="w-full h-full flex justify-center items-center p-5">
        <img src="assets/img/icons/ilus-basket-empty.svg" alt="" class="w-full max-w-96">
      </div>
    </ng-container>
  </div>
</div>