<div id="footer" class="w-full bg-primary">
  <div class="sectionContainer">
    <div class="py-10">
      <a routerLink="/"
        class="logo md:text-3xl text-2xl font-medium hover:text-white text-white cursor-pointer">GoPFood</a>
    </div>
    <div class="divider h-[1px] w-full bg-[hsla(0,0%,100%,.3)]"></div>
    <div nz-row class="gop-info pt-10 pb-5">
      <div nz-col nzSpan="24" nzLg="6">
        <a href="">
          <div class="mb-5">Về GoPFood</div>
        </a>
        <a href="">
          <div class="mb-5">Về GoP</div>
        </a>
        <a href="">
          <div class="mb-5">Blog</div>
        </a>
      </div>
      <div nz-col nzSpan="24" nzLg="6">
        <a href="">
          <div class="mb-5">Mở quán trên GoPFood</div>
        </a>
        <a href="">
          <div class="mb-5">Trở thành tài xế</div>
        </a>
      </div>
      <div nz-col nzSpan="24" nzLg="6">
        <a href="">
          <div class="mb-5">Trung tâm hổ trợ</div>
        </a>
        <a href="">
          <div class="mb-5">Câu hỏi thường gặp</div>
        </a>
      </div>
      <div nz-col nzSpan="24" nzLg="6" class="mb-5">
        <div class="flex items-center gap-4">
          <a href="">
            <i class="fa-brands fa-square-facebook text-3xl"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-instagram text-3xl"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-square-twitter text-3xl"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="divider h-[1px] w-full bg-[hsla(0,0%,100%,.3)]"></div>
    <div class="py-10 flex items-center gap-5 flex-wrap">
      <div>
        <img src="assets/img/quick-add/logo-appstore.svg" alt="">
      </div>
      <div>
        <img src="assets/img/quick-add/logo-playstore.svg" alt="">
      </div>
    </div>
  </div>
</div>

