<div class="mb-5">
  <label for="old_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Old password</label>
  <input type="password" id="old_password"
    class="bg-gray-50 max-w-72 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green2 focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green2 dark:focus:border-primary" />

  <label for="new_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-4">New
    password</label>
  <input type="password" id="new_password"
    class="bg-gray-50 max-w-72 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green2 focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green2 dark:focus:border-primary" />
</div>

<button class="p-2 px-6 bg-primary text-white rounded-md">
  Save
</button>
