<swiper-container init="false" #swiper class="w-full h-[480px] overflow-hidden hidden md:flex items-center">
  <swiper-slide *ngIf="!listBannerSrc.length" class="w-full h-full flex items-center">
    <img loading="lazy" src="assets/img/banners/banner-1.jpg" class="w-full h-auto">
  </swiper-slide>
  <swiper-slide *ngFor="let banner of listBannerSrc" class="w-full h-full flex items-center">
    <img loading="lazy" [src]="banner" onerror="this.src='assets/img/banners/banner-1.jpg'"
      class="w-full h-auto object-cover">
  </swiper-slide>
</swiper-container>