<ng-container>
  <div class="flex flex-col justify-between h-full w-full overflow-hidden">
    <div class="food-detail-body overflow-y-auto flex-1">
      <ng-container [ngTemplateOutlet]="foodInfoTemplate"></ng-container>
      <ng-container [ngTemplateOutlet]="formFoodOptionTemplate"></ng-container>
    </div>
    <ng-container [ngTemplateOutlet]="footerFoodDetailTemplate"></ng-container>
  </div>
</ng-container>

<!-- FOOTER DRAWER -->
<ng-template #footerFoodDetailTemplate>
  <footer class="w-full p-6 shadow-[rgba(0,0,0,0.1)_0_8px_8px_7px] bg-white">
    <div class="flex items-center justify-between mb-5">
      <section>
        <div class="flex items-center justify-center gap-2">
          <div (click)="decreaseQuantity()"
            class="font-normal cursor-pointer min-w-8 h-8 rounded-lg border border-gray-200 flex">
            <i class="fa-solid fa-minus m-auto"></i>
          </div>
          <div class="w-10 text-center text-lg">
            {{ quantity }}
          </div>
          <div (click)="increaseQuantity()"
            class="font-normal cursor-pointer min-w-8 h-8 rounded-lg border border-gray-200 flex">
            <i class="fa-solid fa-plus m-auto"></i>
          </div>
        </div>
      </section>
      <h2 class="m-0">
        {{ getPrice.toLocaleString("vi-VN", { style: "currency", currency: "VND" }) }}
      </h2>
    </div>
    <button [disabled]="isLoading" (click)="addToCart()"
      class="w-full px-3 rounded-lg min-h-12 bg-primary text-white font-bold text-md">
      <ng-container *ngIf="isAddToCart">
        <app-dots-loader></app-dots-loader>
      </ng-container>
      <span *ngIf="!isAddToCart">
        {{ isUpdate ? 'Update' : 'Add to cart' }}
      </span>
    </button>
  </footer>
</ng-template>

<!-- TEMPLATE-ITEMS -->
<ng-template #foodInfoTemplate>
  <div class="relative w-full aspect-video overflow-hidden flex justify-center items-center bg-gray-100"
    [ngClass]="isLoading ? 'animate-pulse' : ''">
    <img *ngIf="isLoading === false" loading="lazy" [src]="foodDetails.image"
      onerror="this.src='assets/img/foods/food-default.webp'" class="mb-5 object-cover w-full animation-fadeIn">
    <app-img-loader [isLoading]="isLoading"></app-img-loader>

    <div class="absolute top-2 left-2 bg-black opacity-15 rounded-full w-14 h-14">
    </div>
    <button (click)="closeDrawer()"
      class="absolute top-2 left-2 w-14 h-14 z-10 rounded-full border-none outline-none bg-transparent text-white flex justify-center items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-7">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <div class="px-6 py-4 pb-0">
    <span class="text-gray-400">{{ foodDetails.bio }}</span>
  </div>
</ng-template>

<ng-template #formFoodOptionTemplate>
  <div *ngIf="isLoading" class="p-6">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </div>
  <div *ngIf="!isLoading" class="food-details-form p-6">
    <ng-container *ngFor="let item of foodDetails.modifier_groups">
      <ng-container *ngIf="item.max === 1 && foodDetails.modifier_groups.length > 0">
        <h3 class="font-bold">
          {{ item.name }}
          <span class="text-gray-500 font-light text-sm"> pick 1</span>
        </h3>
        <nz-radio-group class="!flex flex-col mb-5" [ngModel]="checkOptionSelected(item)"
          (ngModelChange)="addOption($event, item)">
          <label nz-radio *ngFor="let option of item.modifier" [nzValue]="option"
            class="border border-x-0 border-t-0 border-gray-200">
            <ng-container *ngTemplateOutlet="foodOptionItemTemplate; context: {$implicit: option}"></ng-container>
          </label>
        </nz-radio-group>
      </ng-container>
      <ng-container *ngIf="item.max > 1">
        <h3 class="font-bold">
          {{ item.name }}
          <span class="text-gray-500 font-light text-sm"> max {{ item.max }}</span>
        </h3>
        <div class="!flex flex-col mb-5">
          <label *ngFor="let option of item.modifier" nz-checkbox [ngModel]="checkExtraDishSelected(option._id)"
            (ngModelChange)="addExtraDish($event, option)">
            <ng-container *ngTemplateOutlet="foodOptionItemTemplate; context: {$implicit: option}"></ng-container>
          </label>
        </div>
      </ng-container>
    </ng-container>
    <!-- <div class="mt-3">
      <h3 class="font-bold">Special instructions</h3>
      <input type="text" nz-input placeholder="E.g No onions please" class="!p-4 !rounded-lg !mt-3" />
    </div> -->
  </div>
</ng-template>

<ng-template #foodOptionItemTemplate let-data>
  <div class="w-full flex items-center justify-between text-gray-600 font-light text-[1rem]">
    <span>{{ data.name }}</span>
    <span>
      + {{ data.price.toLocaleString("vi-VN", { style: "currency", currency: "VND" }) }}
    </span>
  </div>
</ng-template>