<div
  class="md:absolute md:top-0 md:left-0 md:-translate-y-[82%] z-10 bg-white flex items-center md:h-96 h-80 rounded md:w-[360px] w-full border-0 md:border border-solid border-gray-200 md:p-6">
  <div class="w-full">
    <div class="mb-6">
      <span class="font-bold md:text-xl text-sm">Good Evening</span>
      <div class="md:text-4xl text-2xl font-bold">Where should we deliver your food today?</div>
    </div>
    <div class="relative">
      <div
        class="searchBox flex items-center w-full py-3 px-5 border border-solid border-gray-300 rounded mb-3 focus-within:border-primary">
        <i class="fa-solid fa-location-dot text-red text-lg basis-auto"></i>
        <input type="text" [placeholder]="langData + 'NHAP_DIA_CHI' | translate" class="outline-none px-3 grow max-w-full min-w-0">
        <i class="fa-solid fa-location-crosshairs text-primary text-lg cursor-pointer basis-auto"></i>
      </div>
      <button class="w-full h-12 bg-primary text-white text-lg font-medium rounded-lg">{{ langData + 'TIM_KIEM' |
        translate }}</button>
    </div>
  </div>
</div>
