<nz-modal nzCentered nzWrapClassName="auth-form" [(nzVisible)]="openAuthForm" nzTitle="Discover gastronomy with GoPFood"
  (nzOnCancel)="handleCancel()">
  <!-- <ng-container *nzModalTitle></ng-container> -->
  <ng-container *nzModalContent>
    <ng-containe [ngTemplateOutlet]="isLoginForm ? loginTemplate : signupTemplate"></ng-containe>
  </ng-container>
  <ng-container *nzModalFooter>
    <ng-containe
      [ngTemplateOutlet]="isLoginForm ? buttonControlForLoginTemplate : buttonControlForSignupTemplate"></ng-containe>
  </ng-container>
</nz-modal>


<ng-template #loginTemplate>
  <div>
    <div class="form-group flex flex-col mb-3">
      <label for="email">
        <span class="text-red">*</span>
        Email
      </label>
      <input [(ngModel)]="loginFormData.email" id="email" type="text" placeholder="food@gop.com"
        class="border-gray-400 focus:border-primary outline-none focus:ring-green2 rounded-lg">
    </div>

    <div class="form-group flex flex-col">
      <label for="password">
        <span class="text-red">*</span>
        Password
      </label>
      <div class="relative">
        <input [(ngModel)]="loginFormData.password" id="password" [type]="passwordVisible ? 'text' : 'password'"
          placeholder="" class="w-full border-gray-400 focus:border-primary outline-none focus:ring-green2 rounded-lg">
        <i (click)="passwordVisible=!passwordVisible"
          class="fa-regular absolute text-xl cursor-pointer top-[50%] right-3 -translate-y-[50%]"
          [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
      </div>
    </div>
    <div class="forgot flex justify-end">
      <a href="#" class="text-primary hover:text-primary hover:underline hover:decoration-primary">Forgot Password
        ?</a>
    </div>
  </div>
</ng-template>

<ng-template #signupTemplate>
  <form>
    <div class="form-group">
      <div class="form-group flex flex-col mb-3">
        <label for="fullname">
          <span class="text-red">*</span>
          Fullname
        </label>
        <input id="fullname" type="text" placeholder="GoPFood"
          class="border-gray-400 focus:border-primary outline-none focus:ring-green2 rounded-lg">
      </div>

      <div class="form-group flex flex-col mb-3">
        <label for="email">
          <span class="text-red">*</span>
          Email
        </label>
        <input id="email" type="text" placeholder="food@gop.com"
          class="border-gray-400 focus:border-primary outline-none focus:ring-green2 rounded-lg">
      </div>

      <div class="form-group flex flex-col mb-3">
        <label for="password">
          <span class="text-red">*</span>
          Password
        </label>
        <div class="relative">
          <input id="password" [type]="passwordVisible ? 'text' : 'password'" placeholder=""
            class="w-full border-gray-400 focus:border-primary outline-none focus:ring-green2 rounded-lg">
          <i (click)="passwordVisible=!passwordVisible"
            class="fa-regular absolute text-xl cursor-pointer top-[50%] right-3 -translate-y-[50%]"
            [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
        </div>
      </div>

      <div class="form-group flex flex-col mb-3">
        <label for="address">
          <span class="text-red">*</span>
          Address
        </label>
        <input id="address" type="text" placeholder="HCMUTE"
          class="border-gray-400 focus:border-primary outline-none focus:ring-green2 rounded-lg">
      </div>

      <div class="form-group flex flex-col">
        <label for="gender">
          <span class="text-red">*</span>
          Gender
        </label>

        <nz-radio-group [(ngModel)]="isMale">
          <label nz-radio [nzValue]="true">Male</label>
          <label nz-radio [nzValue]="false">Female</label>
        </nz-radio-group>
      </div>

    </div>
  </form>
</ng-template>

<ng-template #buttonControlForLoginTemplate>
  <button (click)="handleLogin()" nz-button nzSize="large" nzType="primary" class="w-full rounded-lg">Login</button>

  <div class="signup w-full flex">
    <div class="flex m-auto">
      Don't have an account?
      <div (click)="isLoginForm = false" class="text-primary hover:text-primary hover:underline ml-1 cursor-pointer">
        Sign up </div>
    </div>
  </div>
</ng-template>

<ng-template #buttonControlForSignupTemplate>
  <button (click)="handleSigup()" nz-button nzSize="large" nzType="primary" class="w-full rounded-lg">Sign up</button>

  <div class="signup w-full flex">
    <div class="flex m-auto">
      Already have an acount ?
      <div (click)="isLoginForm = true" class="text-primary hover:text-primary hover:underline ml-1 cursor-pointer">
        Login </div>
    </div>
  </div>
</ng-template>