<div class="w-full flex justify-center">
  <div class="relative flex flex-col items-center bg-white shadow-2xl max-w-96 w-max-w-96 overflow-hidden rounded-lg">
    <div (click)="closeModal()"
      class="absolute top-2 right-2 cursor-pointer z-50 text-gray-700 w-8 h-8 rounded-full flex justify-center items-center bg-white">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </div>
    <div class="relative w-full">
      <div class="e-card playing w-[130%] h-28">
        <div class="wave w-full aspect-square"></div>
        <div class="wave w-full aspect-square"></div>
        <div class="wave w-full aspect-square"></div>
      </div>
      <img src="assets/img/avatars/user.png"
        class="object-cover w-20 h-20 absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2">
    </div>

    <div class="p-4 bg-white text-center mt-10">
      <h2 class="font-bold text-lg m-0
      ">{{reviewable.title}}</h2>
      <p class="text-gray-500 text-xs max-w-56 mx-auto">Your feedback will help improve our service
      </p>
      <nz-rate [(ngModel)]="review.rating" class="star-rate"></nz-rate>

      <textarea id="review-content" rows="4" maxlength="200" [(ngModel)]="review.content"
        class="block mt-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:border-primary focus:ring-green2">
      </textarea>

      <button (click)="submitReview()" class="w-full p-3 bg-primary text-white font-bold mt-4 rounded-lg">Rate
        now</button>
    </div>
  </div>
</div>
