::ng-deep .popover-select-location .ant-popover-inner {
  @apply bg-white rounded-xl;
}

::ng-deep .popover-select-location .ant-popover-arrow-content::before {
  @apply bg-white;
}

::ng-deep .campaigns .ant-modal-body {
  @apply p-0 rounded-lg h-full overflow-hidden;
}

::ng-deep .campaigns .ant-modal-content {
  @apply rounded-lg h-full overflow-hidden;
}
::ng-deep .campaigns .ant-modal {
  height: 100vh !important;
  top: 0;
  padding: 24px 0;
}

@media (min-width: 992px) {
  ::ng-deep .campaigns .ant-modal {
    width: 600px !important;
    padding: 50px 0;
    top: 0;
  }
}
