<div class="relative">
  <swiper-container init="false" #cuisinesSlider class="cusines-slider w-full flex items-center md:mb-6 sm:mb-3 mb-1">
    <swiper-slide *ngIf="!listCuisine.length"
      class="w-full h-full flex items-center aspect-video rounded-lg overflow-hidden">
      <img loading="lazy" src="assets/img/banners/banner-1.jpg" class="w-full h-auto object-cover">
    </swiper-slide>
    <swiper-slide *ngFor="let cusine of listCuisine"
      class="w-full h-full flex items-center justify-center object-cover">
      <div>
        <a [routerLink]="['/cuisines', cusine.slug]" [queryParamsHandling]="'merge'" [routerLinkActive]="'active'"
          class="flex flex-col items-center justify-center w-full">
          <div class="flex items-center flex-col">
            <div
              class="cuisine-item relative flex items-center justify-center max-h-40 aspect-square rounded-[50%] sm:rounded-lg  sm:w-auto sm:aspect-video  sm:overflow-hidden w-16 bg-white border-2 border-transparent">
              <img [src]="cusine.img" onerror="this.src='assets/img/banners/banner-1.jpg'"
                class="w-full sm:h-auto h-full object-cover rounded-[50%] sm:rounded-lg">
              <i
                class="fa-solid fa-circle-check absolute top-0 right-0 text-primary !hidden bg-white rounded-[50%] sm:top-1 sm:right-1"></i>
            </div>
            <span class="text-black text-center lg:font-medium font-normal xs:text-sm text-[10px] mt-2">{{ cusine.name
              }}</span>
          </div>
        </a>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
