<div id="cuisine-filter" class="">

  <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="sortBy" [(nzVisible)]="dropDownForSortBy">
    Sort by
  </button>
  <nz-dropdown-menu #sortBy="nzDropdownMenu">
    <nz-radio-group [(ngModel)]="filter.sortBy">
      <div class="flex flex-col rounded-sm bg-white overflow-auto shadow-2xl">
        <ng-container *ngFor="let item of [ 'recommended', 'populary', 'rating']">
          <a nz-radio [nzValue]=item [routerLink]="[filterURL]" [queryParams]="{sortby: item}"
            queryParamsHandling="merge" routerLinkActive="active"
            class="!p-2 text-black hover:text-black !m-0 hover:bg-green3"
            (click)="dropDownForSortBy=!dropDownForSortBy">
            <span class="capitalize"> {{ item }} </span>
          </a>
        </ng-container>
      </div>
    </nz-radio-group>
  </nz-dropdown-menu>

  <a [routerLink]="[filterURL]" [queryParams]="{promo: !filter.promo}" queryParamsHandling="merge" (click)="inform()"
    class="relative">
    <button>
      Promo
    </button>
    <i *ngIf="filter.promo"
      class="fa-solid fa-circle-check text-xs text-primary absolute top-0 right-0 -translate-x-2 -translate-y-2"></i>
  </a>

  <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="deliveryFee" [(nzVisible)]="dropDownForDeleivery">Delivery fee
  </button>
  <nz-dropdown-menu #deliveryFee="nzDropdownMenu">
    <nz-radio-group [(ngModel)]="filter.deliveryFee">
      <div class="flex flex-col rounded-sm bg-white overflow-auto shadow-2xl">
        <ng-container *ngFor="let item of [ 'any', '15000', '25000', '35000' ]">
          <a nz-radio [nzValue]=item [routerLink]="[filterURL]" [queryParams]="{deliveryFee: item}"
            queryParamsHandling="merge" routerLinkActive="active"
            class="!p-2 text-black hover:text-black !m-0 hover:bg-green3"
            (click)="dropDownForDeleivery=!dropDownForDeleivery">
            <span *ngIf="item === 'any'" class="capitalize"> {{ item }} </span>
            <span *ngIf="item!=='any'" class="capitalize"> Less than {{ item }} </span>
          </a>
        </ng-container>
      </div>
    </nz-radio-group>
  </nz-dropdown-menu>

  <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="price" [(nzVisible)]="dropDownForPrice">Price
  </button>
  <nz-dropdown-menu #price="nzDropdownMenu">
    <div class="w-96 p-2 h-auto rounded-sm bg-white shadow-2xl">

      <div class="flex items-center justify-between">
        <div class="flex items-center justify-center w-36 h-6 border border-gray-300">
          <div>{{ filter.price[0] }}</div>
        </div>
        <div class="flex-1 h-[2px] bg-gray-200">

        </div>
        <div class="flex items-center justify-center w-36 h-6 border border-gray-300">
          <div>{{ filter.price[1] }}</div>
        </div>
      </div>

      <nz-slider nzRange [(ngModel)]="filter.price"></nz-slider>

      <div class="flex flex-col items-end w-full">
        <button class="px-4 py-2 rounded-sm bg-primary text-white font-bold"
          (click)="applyFilter('price', filter.price[0] + '-' + filter.price[1])">Xem kết quả</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <a [routerLink]="[filterURL]">
    <button (click)="resetFilter()">
      <span class="capitalize"> reset </span>
    </button>
  </a>

</div>