<div id="cuisine-filter" class="sm:block hidden">
  <!--  -->
  <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="sortBy" [(nzVisible)]="dropDownForSortBy">
    <i class="fa-solid fa-arrows-up-down"></i>
    Sort by
  </button>
  <nz-dropdown-menu #sortBy="nzDropdownMenu">
    <div class="shadow-2xl rounded-md overflow-hidden">
      <ng-container [ngTemplateOutlet]="sortTemplate"></ng-container>
    </div>
  </nz-dropdown-menu>

  <!--  -->
  <a [routerLink]="[filterURL]" [queryParams]="{promo: !filter.promo}" queryParamsHandling="merge" class="relative">
    <button>
      Promo
    </button>
    <i *ngIf="filter.promo"
      class="fa-solid fa-circle-check text-xs text-primary absolute top-0 right-0 -translate-x-2 -translate-y-2"></i>
  </a>

  <!--  -->
  <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="deliveryFee" [(nzVisible)]="dropDownForDeleivery">
    <i class="fa-solid fa-motorcycle"></i>
    Delivery fee
  </button>
  <nz-dropdown-menu #deliveryFee="nzDropdownMenu">
    <div class="shadow-2xl rounded-md overflow-hidden">
      <ng-container [ngTemplateOutlet]="deliveryFeeTempalte"></ng-container>
    </div>
  </nz-dropdown-menu>

  <!--  -->
  <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="price" [(nzVisible)]="dropDownForPrice">Price
  </button>
  <nz-dropdown-menu #price="nzDropdownMenu">
    <div class="shadow-2xl rounded-md overflow-hidden">
      <ng-container [ngTemplateOutlet]="priceTemplate"></ng-container>
    </div>

  </nz-dropdown-menu>
  <!--  -->
  <a [routerLink]="[filterURL]">
    <button (click)="resetFilter()">
      <span class="capitalize"> reset </span>
    </button>
  </a>
</div>
<!-- MOBILE -->
<div class="sm:hidden block lg:pt-5 pt-0 pb-5">
  <button class="bg-gray-100 hover:bg-gray-200 py-1 px-4 rounded-2xl mr-2 text-black1" (click)="openFilterDrawer()">
    <i class="fa-solid fa-sliders"></i>
  </button>
  <nz-drawer [nzClosable]="true" [nzVisible]="visibleFilterDrawer" nzPlacement="bottom" [nzHeight]="'85%'"
    (nzOnClose)="closeFilterDrawer()" nzWrapClassName="cuisine-filter-mobile">
    <ng-container *nzDrawerContent>

      <div class="filterMobile pb-[120px]">
        <div>
          <h3 class="filter-title">Sort By</h3>
          <ng-container [ngTemplateOutlet]="sortTemplate"></ng-container>
        </div>

        <div>
          <h3 class="filter-title">Restaurant options</h3>
          <ng-container [ngTemplateOutlet]="restaurntOptionTemplate"></ng-container>
        </div>

        <div>
          <h3 class="filter-title">Delivery Fee</h3>
          <ng-container [ngTemplateOutlet]="deliveryFeeTempalte"></ng-container>
        </div>

        <div>
          <h3 class="filter-title">Price</h3>
          <ng-container [ngTemplateOutlet]="priceTemplate"></ng-container>
        </div>
      </div>

      <div *ngIf="visibleFilterDrawer" class="applyFilter--button fixed bottom-0 left-0 right-0 px-4 py-4 bg-white shadow-inner">
        <button (click)="applyFilterMobile()"
          class="w-full mb-4 py-3 min-h-12 bg-primary text-white font-bold rounded-md hover:opacity-95">
          <section *ngIf="loaderApplyFilter" class="dots-container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </section>
          <span *ngIf="!loaderApplyFilter">Áp dụng</span>
        </button>
        <button (click)="resetFilter()"
          class=" w-full py-3 bg-white text-gray-500 border border-gray-600 font-bold rounded-md hover:opacity-95"> Làm
          mới </button>
      </div>

    </ng-container>
  </nz-drawer>
</div>

<ng-template #sortTemplate>
  <div class="w-full bg-white px-4">

    <ng-container *ngFor="let group of [filter, filterMobile]">
      <nz-radio-group [(ngModel)]="group.sortby"
        [ngClass]="{'w-full sm:block hidden': group === filter, 'w-full sm:!hidden block': group === filterMobile}">
        <div class="flex flex-col rounded-sm overflow-auto">
          <ng-container *ngFor="let item of ['recommended', 'popular', 'rating']">
            <ng-container *ngIf="group === filter; else sortByForMobile">
              <a nz-radio [nzValue]="item" [routerLink]="[filterURL]" [queryParams]="{sortby: item}"
                queryParamsHandling="merge"
                class="sm:!flex !hidden items-center !py-4 text-black hover:text-black !m-0 hover:bg-green3 border border-gray-200 border-x-0 border-t-0 last:border-0"
                (click)="dropDownForSortBy=false">
                <span class="capitalize">{{ item }}</span>
              </a>
            </ng-container>

            <ng-template #sortByForMobile>
              <div nz-radio [nzValue]="item"
                class="sm:!hidden !flex items-center !py-4 text-black hover:text-black !m-0 hover:bg-green3 border border-gray-200 border-x-0 border-t-0 last:border-0">
                <span class="capitalize">{{ item }}</span>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </nz-radio-group>
    </ng-container>

  </div>
</ng-template>

<ng-template #deliveryFeeTempalte>
  <div class="w-full bg-white px-4">
    <ng-container *ngFor="let group of [filter, filterMobile]">
      <nz-radio-group [(ngModel)]="group.deliveryFee"
        [ngClass]="{'w-full sm:!block !hidden': group === filter, 'w-full sm:!hidden block': group === filterMobile}">
        <div class="flex flex-col rounded-sm overflow-auto">
          <ng-container *ngFor="let item of [ 'any', '15000', '25000', '35000' ]">
            <ng-container *ngIf="group === filter; else deleveryForMobile">
              <a nz-radio [nzValue]=item [routerLink]="[filterURL]" [queryParams]="{deliveryFee: item}"
                queryParamsHandling="merge" routerLinkActive="active"
                class="!py-4 text-black hover:text-black !m-0 hover:bg-green3 border border-gray-200 border-x-0 border-t-0 last:border-0"
                (click)="dropDownForDeleivery=false">
                <span *ngIf="item === 'any'" class="capitalize"> {{ item }} </span>
                <span *ngIf="item!=='any'" class="capitalize"> Less than {{ item }} </span>
              </a>
            </ng-container>
            <ng-template #deleveryForMobile>
              <div nz-radio [nzValue]=item
                class="!py-4 text-black hover:text-black !m-0 hover:bg-green3 border border-gray-200 border-x-0 border-t-0 last:border-0">
                <span *ngIf="item === 'any'" class="capitalize"> {{ item }} </span>
                <span *ngIf="item!=='any'" class="capitalize"> Less than {{ item }} </span>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </nz-radio-group>
    </ng-container>
  </div>
</ng-template>

<ng-template #priceTemplate>
  <div class="sm:w-96 w-full p-4 h-auto rounded-sm bg-white">

    <div class="flex items-center justify-between">
      <div class="flex items-center justify-center w-32 h-6 border border-gray-300">
        <div>{{ isMobileScreen ? filterMobile.price[0] : filter.price[0] }}</div>
      </div>
      <div class="flex-1 h-[2px] bg-gray-200">

      </div>
      <div class="flex items-center justify-center w-32 h-6 border border-gray-300">
        <div>{{ isMobileScreen ? filterMobile.price[1] : filter.price[1] }}</div>
      </div>
    </div>

    <nz-slider nzRange [(ngModel)]="filter.price" class="sm:block hidden"></nz-slider>
    <nz-slider nzRange [(ngModel)]="filterMobile.price" class="sm:hidden block"></nz-slider>

    <div class="sm:flex hidden flex-col items-end w-full">
      <button class="px-4 py-2 rounded-sm bg-primary text-white font-bold"
        (click)="applyFilter('price', filter.price[0] + '-' + filter.price[1])">Xem kết quả</button>
    </div>
  </div>
</ng-template>

<ng-template #restaurntOptionTemplate>
  <div class="p-4 bg-white">
    <label for="restaurant-option-checkbox"
      class="flex items-center justify-between text-sm font-medium text-gray-900 dark:text-gray-300">
      <span>Promo</span>
      <input id="restaurant-option-checkbox" type="checkbox" [(ngModel)]="filterMobile.promo"
        class="w-4 h-4 text-primary focus:ring-0 rounded-sm border-gray-400">
    </label>
  </div>
</ng-template>
