<div>
  <div class="relative group">
    <form class="search-form relative mb-3">
      <i
        class="fa-solid fa-magnifying-glass text-lg cursor-pointer basis-auto text-grey absolute top-[50%] -translate-y-[50%]  left-6 "></i>
      <input type="text" placeholder="Tìm quán ăn hoặc món ăn" [formControl]="control" [matAutocomplete]="auto"
        class="outline-none py-3 rounded-3xl bg-gray-100 grow max-w-full min-w-0 px-16 w-full">
      <mat-autocomplete #auto="matAutocomplete" class="!absolute !bg-white !mt-1 !shadow">
        <mat-option *ngFor="let address of filteredAddress | async" [value]="address"
          class="!bg-white hover:!bg-green2">
          {{address}}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>
  <div class="items-center w-full md:gap-6 flex py-2">
    <div>
      <div
        class="px-3 py-1 border border-solid border-gray-300 rounded-lg cursor-pointer hover:border-primary outline-4 hover:outline outline-[rgba(0,177,79,.1)] hover:text-primary flex items-center gap-2"
        (click)="openDrawer()">
        <mat-icon>tune</mat-icon>
        Filter
      </div>
    </div>
  </div>
</div>
<div class="cuisine-drawer-filter">
  <nz-drawer #drawer [appResponsiveDrawer]='drawer' [defaultPlacement]="'left'" [nzClosable]="false"
    [nzVisible]="openFilter" (nzOnClose)="openFilter = false">
    <ng-container *nzDrawerContent>
      <div class="w-full h-full flex flex-col justify-between">
        <div>
          <div class="text-base font-medium">Ẩm thực</div>
          <div class="text-base font-medium">
            <span>Đánh giá</span>
            <div>
              <nz-rate [(ngModel)]="cuisineFilter.rate"></nz-rate>
            </div>
          </div>
          <div class="text-base font-medium">Khuyến mãi</div>
          <div class="text-base font-medium">Thời gian: {{ cuisineFilter.duration[0] + 'm - ' + cuisineFilter.duration[1] + 'm' }}</div>
          <nz-slider nzRange [(ngModel)]="cuisineFilter.duration" nzMax="60"></nz-slider>
        </div>
        <div>
          <button
            class="bg-primary w-full rounded py-3 text-white font-medium md:text-xl text-base border-0 outline-0 hover:scale-[.98] transition-all"
            (click)="closeDrawer()">Lưu</button>
        </div>
      </div>
    </ng-container>
  </nz-drawer>
</div>
