<h2 class="md:text-4xl sm:text-2xl text-xl font-bold lg:mb-14 mb-10">Vì sao bạn nên Order trên GoPFood ?</h2>
<div nz-row nzGutter="20" class="lg:gap-0 gap-5">

  <div nz-col nzSpan="24" nzLg="8" class="our-service-card">
    <div class="flex flex-col sm:flex-row gap-3 items-center">
      <div class="min-w-24 w-24 h-24 bg-green4 rounded-[50%] flex justify-center items-center">
        <img src="assets/img/icons/icon-online-payment.png" class="object-cover">
      </div>
      <div class="text-center sm:text-left">
        <span class="font-bold text-lg text-black">Thanh toán dễ dàng</span> <br>
        <span class="text-gray-500 text-sm">GoPFood cung cấp dịch vụ giao đồ ăn nhanh</span>
      </div>
    </div>
  </div>

  <div nz-col nzSpan="24" nzLg="8" class="our-service-card">
    <div class="flex flex-col sm:flex-row gap-3 items-center">
      <div class="min-w-24 w-24 h-24 bg-green4 rounded-[50%] flex justify-center items-center">
        <img src="assets/img/icons/ilus-cool-features-app.svg" class="object-cover">
      </div>
      <div class="text-center sm:text-left max-w-72 overflow-hidden text-wrap">
        <span class="font-bold text-lg text-black">Booking dễ dàng</span> <br>
        <span class="text-gray-500 text-sm ">Vài cú nhấp chuột hoặc chạm nhẹ là đã có
          thể đặt đồ
          ăn</span>
      </div>
    </div>
  </div>

  <div nz-col nzSpan="24" nzLg="8" class="our-service-card">
    <div class="flex flex-col sm:flex-row gap-3 items-center">
      <div class="min-w-24 w-24 h-24 bg-green4 rounded-[50%] flex justify-center items-center">
        <img src="assets/img/icons/scooter.png" class="object-cover">
      </div>
      <div class="text-center sm:text-left max-w-72 overflow-hidden text-wrap">
        <span class="font-bold text-lg text-black">Giao hàng nhanh</span> <br>
        <span class="text-gray-500 text-sm">Đồ ăn của khách hàng sẽ được giao tận tay </span>
      </div>
    </div>
  </div>

</div>