<nz-drawer #cartDrawer [nzVisible]="opened" [nzPlacement]="placementDrawer" [nzWidth]="'600px'" nzKeyboard="true"
  [nzBodyStyle]="{ overflow: 'auto' }" [nzHeight]="'100%'" (nzOnClose)="closeDrawer()" nzClosable="false"
  [nzWrapClassName]="'ratings-and-reviews'">
  <ng-container *nzDrawerContent>
    <div class="flex flex-col h-full w-full overflow-hidden">
      <div class="h-16 relative flex justify-end items-center pr-5">
        <button class="absolute border-none outline-none top-5 left-5" (click)="closeDrawer()">
          <i class="fa-solid fa-xmark text-[25px] text-gray-500"></i>
        </button>

        <button (click)="createReviewModal()" class="bg-primary text-white font-bold p-2 px-5 rounded-md">Written
          reviews</button>
      </div>

      <div class="h-[1px] w-full bg-gray-200"></div>

      <div *ngIf="reviews.length > 0" class="flex-1 ratings-and-reviews-body w-full overflow-y-scroll p-6">
        <div class="flex flex-col">
          <ng-container *ngIf="isLoading">
            <ng-container *ngFor="let item of [1,2,3,4]">
              <div class="mb-10">
                <nz-skeleton [nzActive]="true" [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="!isLoading">
            <ng-container *ngFor="let item of reviews">
              <ng-container *ngTemplateOutlet="reviewCardTpl; context: { review: item }"></ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div *ngIf="reviews.length === 0" class="flex flex-1 justify-center items-center">
        <img src="assets/img/icons/influencer.png" alt="" class="w-52">
      </div>
    </div>
  </ng-container>
</nz-drawer>


<ng-template #reviewCardTpl let-review="review">
  <div class="mb-10">
    <div class="flex flex-col">
      <div class="flex items-center">
        <img [src]="review.customer.avatar" onerror="this.src='assets/img/avatars/user.png'"
          class="object-cover w-12 h-12 mr-5 rounded-full">
        <span class="font-bold text-lg">{{ review.customer.full_name }}</span>
        <span class="w-1 h-1 bg-gray-500 rounded-full mx-2"></span>
        <span>{{ formatDate(review.createdAt) }}</span>
      </div>

      <div>
        <nz-rate [ngModel]="review.rating" nzDisabled></nz-rate>
        <p>{{ review.content }}</p>
      </div>
    </div>
  </div>
</ng-template>