<!-- LAYOUT -->
<nz-drawer #cartDrawer [nzVisible]="opened" [nzPlacement]="placementDrawer" [nzWidth]="'600px'" nzKeyboard="true"
  [nzBodyStyle]="{ overflow: 'auto' }" [nzHeight]="'100%'" (nzOnClose)="closeDrawer()" nzClosable="false"
  [nzWrapClassName]="'drawerCart'">
  <ng-container *nzDrawerContent>
    <div class="flex flex-col h-full w-full overflow-hidden">
      <ng-container [ngTemplateOutlet]="headerDrawerCart"></ng-container>
      <ng-container [ngTemplateOutlet]="bodyDrawerCart"></ng-container>
      <ng-container [ngTemplateOutlet]="footerDrawerCart"></ng-container>
    </div>
  </ng-container>
</nz-drawer>

<!-- HEADAER DRAWER -->
<ng-template #headerDrawerCart>
  <header class="flex justify-center items-center px-6 py-4">
    <div class="text-center relative w-full">
      <button class="absolute top-[50%] -translate-y-[50%] left-0" (click)="closeDrawer()">
        <i class="fa-solid fa-xmark text-[25px] text-gray-500"></i>
      </button>
      <h3> Giỏ hàng </h3>
      <div class="text-gray-400 text-xs">
        <i class="fa-regular fa-clock"></i>
        <span>
          Thời gian giao: 20 phút (Cách bạn 2,8 km)</span>
      </div>
    </div>
  </header>
  <div class="h-[1px] w-full bg-gray-200"></div>
</ng-template>

<!-- BODY DRAWER -->
<ng-template #bodyDrawerCart>
  <div class="flex-1 drawer-cart-body w-full overflow-y-scroll p-6">
    <h2 class="font-bold uppercase md:text-xl text-lg">ẨM THỰC KHẾ VINHOMES - NƯỚNG & LẨU</h2>
    <div *ngFor="let item of userCart; let i = index"
      class="py-6 flex items-center justify-between gap-3 border border-x-0 border-t-0 border-gray-200">
      <div class="flex items-center w-20 justify-center">
        <div (click)="decreaseQuantity(item, i)"
          class="font-normal cursor-pointer min-w-7 h-7 rounded-[50%] bg-green3 flex">
          <i class="fa-solid fa-minus m-auto"></i>
        </div>

        <div class="w-10 text-center">
          {{ item.quantity }}
        </div>

        <div (click)="increaseQuantity(item)"
          class="font-normal cursor-pointer min-w-7 h-7 rounded-[50%] bg-green3 flex">
          <i class="fa-solid fa-plus m-auto"></i>
        </div>
      </div>

      <div class="w-12 h-12">
        <img loading="lazy" src="assets/img/foods/food-default.webp" class="object-cover w-full h-full  rounded-lg">
      </div>

      <div class="flex flex-1 items-center justify-between gap-2">
        <div>
          <h4>Râu Bạch Tuộc Đại Dương Nướng Sa Tế</h4>
        </div>

        <div class="flex flex-col items-end">
          <span>400.000</span>
          <s class="text-xs text-gray-400">200.000</s>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- FOOTER DRAWER -->
<ng-template #footerDrawerCart>
  <footer class="w-full p-6 shadow-[rgba(0,0,0,0.1)_0_8px_8px_7px] bg-white">
    <div class="flex items-center justify-between mb-5">
      <span class="text-2xl font-normal">Tổng cộng</span>
      <h2 class="m-0">200.000 đ</h2>
    </div>
    <button class="w-full p-3 rounded-lg bg-primary text-white font-bold text-md">Xem lại đơn hàng</button>
  </footer>
</ng-template>

<!-- CART EMPTY -->
<ng-template #cartEmpty>
  <div class="w-full h-full flex justify-center items-center">
    <div class="w-full h-full flex flex-col items-center justify-center">
      <img loading="lazy" src="assets/img/icons/ilus-basket-empty.svg">
      <h2>{{ langData + 'BAT_DAU_MUA_HANG' | translate }}</h2>
      <span class="text-grey1 text-center">{{ langData + 'THEM_VAO_GIO_HANG' | translate}}</span>
    </div>
  </div>
</ng-template>