<!-- LAYOUT -->
<nz-drawer #cartDrawer [nzVisible]="opened" [nzPlacement]="placementDrawer" [nzWidth]="'600px'" nzKeyboard="true"
  [nzBodyStyle]="{ overflow: 'auto' }" [nzHeight]="'100%'" (nzOnClose)="closeDrawer()" nzClosable="false"
  [nzWrapClassName]="'drawerCart'">
  <ng-container *nzDrawerContent>
    <div class="relative h-full w-full">
      <ng-container [ngTemplateOutlet]="headerDrawerCart"></ng-container>
      <ng-container [ngTemplateOutlet]="bodyDrawerCart"></ng-container>
      <ng-container [ngTemplateOutlet]="footerDrawerCart"></ng-container>
    </div>
  </ng-container>
</nz-drawer>

<!-- HEADAER DRAWER -->
<ng-template #headerDrawerCart>
  <header class="sticky top-0 left-0 right-0 flex justify-center items-center px-6 py-4">
    <div class="text-center relative w-full">
      <button class="absolute top-[50%] -translate-y-[50%] left-0" (click)="closeDrawer()">
        <i class="fa-solid fa-xmark text-[25px] text-gray-500"></i>
      </button>
      <h3> Giỏ hàng </h3>
      <div class="text-gray-400 text-xs">
        <i class="fa-regular fa-clock"></i>
        <span>
          Thời gian giao: 20 phút (Cách bạn 2,8 km)</span>
      </div>
    </div>
  </header>
  <div class="h-[1px] w-full bg-gray-200"></div>
</ng-template>

<!-- BODY DRAWER -->
<ng-template #bodyDrawerCart>
  <div class="w-full">

  </div>
</ng-template>

<!-- FOOTER DRAWER -->
<ng-template #footerDrawerCart>
  <footer class="absolute bottom-0 left-0 right-0 p-6 shadow-[rgba(0,0,0,0.1)_0_8px_8px_7px]">
    <div class="flex items-center justify-between mb-5">
      <span class="text-2xl font-normal">Tổng cộng</span>
      <h2 class="m-0">200.000 đ</h2>
    </div>
    <button class="w-full p-3 rounded-xl bg-primary text-white font-bold text-md">Xem lại đơn hàng</button>
  </footer>
</ng-template>

<!-- CART EMPTY -->
<ng-template #cartEmpty>
  <div class="w-full h-full flex justify-center items-center">
    <div class="w-full h-full flex flex-col items-center justify-center">
      <img src="assets/img/icons/ilus-basket-empty.svg">
      <h2>{{ langData + 'BAT_DAU_MUA_HANG' | translate }}</h2>
      <span class="text-grey1 text-center">{{ langData + 'THEM_VAO_GIO_HANG' | translate}}</span>
    </div>
  </div>
</ng-template>