.open.drawer-cart {
  @apply translate-x-0;
}
.open.modal {
  @apply block;
}
::ng-deep .drawerCart .ant-drawer-body {
  padding: 0 !important;
}
.drawer-cart-body::-webkit-scrollbar {
  width: 4px;
}

.drawer-cart-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.drawer-cart-body::-webkit-scrollbar-thumb {
  background-color: #676767;
  outline: 1px solid transparent;
}
