<!--  -->
<div id="restaurant-infor" class="sectionContainer min-h-44">
  <div class="md:block hidden">
    <div [hidden]="isLoading" class="flex items-center gap-5">
      <h1 class="font-bold text-3xl m-0">{{ restaurant.restaurant_name }}</h1>
      <div class="p-1 px-5 bg-primary text-white rounded-md font-bold">Open</div>
    </div>
    <div class="flex items-center mt-5">
      <ng-container *ngFor="let item of restaurant.cuisine_categories; let last = last">
        <h4 *ngIf="!isLoading" class="text-gray-500 font-light mb-2 mr-1">{{ !last ? item + ',' : item }}</h4>
      </ng-container>
    </div>

    <div *ngIf="!isLoading" class="flex md:gap-3 gap-2 max-w-full mb-2">
      <div class="restaurant-rat flex items-center md:gap-2 gap-1">
        <i class="fa-solid fa-star text-yellow-300 md:text-base text-xs"></i>
        <div class="text-gray-500 md:text-sm text-xs font-light">{{ restaurant.rating }}</div>
      </div>
      <div class="restaurant-duration flex items-center md:gap-2 gap-1">
        <i class="fa-regular fa-clock text-gray-500 md:text-base text-xs"></i>
        <div class="text-gray-500 md:text-sm text-xs font-light">{{ duration }}</div>
      </div>
      <div class="restaurant-distance hidden xs:flex items-center md:gap-2 gap-1">
        <i class="fa-regular fa-map text-gray-500 md:text-base text-xs"></i>
        <div class="text-gray-500 md:text-sm text-xs font-light">{{ distance }} km</div>
      </div>
    </div>

    <!-- <div [hidden]="isLoading" class="flex items-center mb-2">
      <h4 class="text-gray-500 font-normal mr-10">Giờ mở cửa</h4>
      <h4 class="text-gray-500 font-light">Hôm nay 09:30-13:30 17:00-20:00</h4>
    </div> -->
    <!--
    <div [hidden]="isLoading" class="flex items-center gap-4">
      <i class="fa-solid fa-tag text-primary rotate-90"></i>
      <h4 class="text-gray-600 font-light m-0 text-center"> Ưu đãi đến 46.000 đ</h4>
    </div> -->

    <div [hidden]="isLoading" class="flex items-center mt-3 group">
      <div (click)="isShowRatingsAndReviews = true"
        class="text-gray-600 cursor-pointer font-light m-0 text-center underline group-hover:hover:text-primary group-hover:underline select-none">
        Ratings and
        reviews</div>
    </div>
  </div>

  <!-- MOBILE -->
  <div class="sectionContainer !p-0 bg-transparent md:hidden block">
    <div class="bg-white border border-gray-200 p-4 rounded-lg">
      <div class="border border-gray-200 border-x-0 border-t-0 pb-2">
        <h1 class="font-bold text-2xl">{{ isLoading ? 'Loading...' : restaurant.restaurant_name }}</h1>
      </div>

      <div (click)="isShowRatingsAndReviews = true"
        class="flex items-center gap-3 py-4 border border-gray-200 border-x-0 border-t-0 ">
        <i class="fa-solid fa-star text-yellow-300 text-[20px]"></i>
        <span>
          <span class="font-bold">{{ restaurant.rating }}</span>
        </span>
        <span>Ratings and reviews</span>
      </div>

      <div class="flex items-center gap-3 py-4 border border-gray-200 border-x-0 border-t-0 ">
        <img loading="lazy" src="assets/img/icons/icon-delivery-bike.png" class="w-5 h-5">
        <div class="flex flex-col">
          <span>
            <span class="font-bold">{{ distance }} km</span> ({{ duration }})
          </span>
          <div>
            <span>Delivery now
              <!-- <s class="text-gray-400">19.000đ</s> -->
            </span>
          </div>
        </div>
      </div>

      <div class="flex items-center gap-3 py-4 Infinity border border-gray-200 border-x-0 border-t-0">
        <div class="rotate-90 w-5 h-5">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="#20bb65"
            className="w-6 h-6">
            <path strokeLinecap="round" strokeLinejoin="round"
              d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
            <path strokeLinecap="round" strokeLinejoin="round" d="M6 6h.008v.008H6V6Z" />
          </svg>
        </div>
        <span>Ưu đãi đến 50k</span>

      </div>

      <div class="flex items-center justify-between p-4 mt-4 bg-premium rounded-md">
        <div class="flex items-center gap-3">
          <img loading="lazy" src="assets/img/icons/premium.png" class="w-5 h-5">
          <span class="font-bold">Get GoPUnlimited now</span>
        </div>
        <i class="fa-solid fa-circle-arrow-right text-white"></i>
      </div>
    </div>
  </div>

  <!-- INFO IS LOADING ON PC -->
  <ng-container *ngIf="isLoading">
    <div class="md:block hidden">
      <div role="status" class="max-w-sm animate-pulse">
        <div class="h-2 bg-gray-200 rounded-full w-56 mb-3"></div>
      </div>

      <div class="flex items-center">
        <ng-container>
          <div role="status" class="max-w-sm animate-pulse">
            <div class="h-2 bg-gray-200 rounded-full w-20 mb-3"></div>
          </div>
        </ng-container>
      </div>

      <div class="flex items-center">
        <ng-container>
          <div role="status" class="max-w-sm animate-pulse">
            <div class="h-2 bg-gray-200 rounded-full w-44 mb-3"></div>
          </div>
        </ng-container>
      </div>

      <div class="flex items-center">
        <ng-container>
          <div role="status" class="max-w-sm animate-pulse">
            <div class="h-2 bg-gray-200 rounded-full w-44 mb-3"></div>
          </div>
        </ng-container>
      </div>

      <div class="flex items-center">
        <ng-container>
          <div role="status" class="max-w-sm animate-pulse">
            <div class="h-2 bg-gray-200 rounded-full w-52 mb-3"></div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>


<app-ratings-and-reviews [(opened)]="isShowRatingsAndReviews" [restaurant]="restaurant"
  [restaurant]="restaurant"></app-ratings-and-reviews>