#cuisine-filter {
  @apply lg:py-5 py-3;
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

#cuisine-filter button {
  @apply bg-gray-100 hover:bg-gray-200 py-1 px-3 rounded-2xl text-black1 text-nowrap;
  white-space: nowrap;
}

#cuisine-filter button.active {
  @apply bg-gray-800 text-white py-1 px-3 rounded-2xl text-nowrap;
}

#cuisine-filter .filter-item {
  scroll-snap-align: center;
  white-space: nowrap;
}

#cuisine-filter::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.active .radio {
  @apply block bg-primary border-primary;
}
.active .sort-by-option {
  @apply border-primary;
}
a {
  @apply text-black hover:text-black;
}

.ant-radio {
  @apply top-0;
}
.ant-radio-checked .ant-radio-inner {
  @apply border-primary;
}
.ant-radio-inner::after {
  @apply bg-primary;
}
.ant-radio:hover .ant-radio-inner {
  @apply border-primary outline-primary;
}
.ant-radio-input:focus + .ant-radio-inner,
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner {
  @apply border-primary;
}
.ant-radio-checked::after {
  @apply border-primary;
}

.ant-slider-handle:focus,
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  @apply border-primary;
}
.ant-slider-handle {
  @apply border-green2;
}
.ant-slider-track {
  @apply bg-green2;
}

.ant-slider:hover .ant-slider-track {
  @apply bg-primary;
}

.cuisine-filter-mobile .ant-drawer-body {
  @apply bg-gray-100 mt-4 px-0 pt-0;
}
.filter-title {
  @apply font-bold text-gray-500 py-3 px-4 m-0;
}

/* LOADER */
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 5px;
  width: 5px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: white;
  animation: loader-pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes loader-pulse {
  0% {
    transform: scale(0.8);
    background-color: white;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: white;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: white;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}
