<ng-container *ngIf="isActiveCardButton">
  <button *ngIf="basket.cart.items.length > 0" (click)="openDrawer=true"
    class="fixed right-4 bottom-10 w-14 h-14 z-20 flex items-center justify-center shadow-lg rounded-lg bg-white">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="size-6 text-gray-500">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
    </svg>
    <div class="w-2 h-2 bg-red1 rounded-full absolute top-5 right-4"></div>
  </button>
</ng-container>

<nav [hidden]="!isActive"
  class="bottom-navbar-wrapper md:hidden block bg-white shadow-[rgba(0,0,0,0.2)_0_10px_10px_5px] py-2 z-50">
  <ul class="flex justify-between items-center m-0">
    <li>
      <a routerLink="/feed" routerLinkActive="active">
        <i class="fa-solid fa-compass text-gray-400"></i>
        <span class="text-gray-400">Home</span>
      </a>
    </li>

    <li>
      <a routerLink="/user/order-history" routerLinkActive="active">
        <i class="fa-brands fa-dropbox text-gray-400"></i>
        <span class="text-gray-400">Orders</span>
      </a>
    </li>

    <li>
      <a routerLink="/wishlist" routerLinkActive="active">
        <i class="fa-solid fa-heart text-gray-400"></i>
        <span class="text-gray-400">Wishlist</span>
      </a>
    </li>

    <li>
      <a routerLink="/user/profile" routerLinkActive="active">
        <i class="fa-regular fa-user text-gray-400"></i>
        <span class="text-gray-400">Account</span>
      </a>
    </li>
  </ul>
</nav>

<app-cart [(opened)]="openDrawer"></app-cart>