<nav
  class="bottom-navbar-wrapper md:hidden block sticky left-0 bottom-0 bg-white shadow-[rgba(0,0,0,0.2)_0_10px_10px_5px] py-2 z-50">
  <ul class="flex justify-between items-center m-0">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa-solid fa-compass"></i>
        <span>Home</span>
      </a>
    </li>

    <li>
      <a routerLink="/orders" routerLinkActive="active">
        <i class="fa-brands fa-dropbox"></i>
        <span>Orders</span>
      </a>
    </li>

    <li>
      <a routerLink="/messages" routerLinkActive="active">
        <i class="fa-regular fa-comment-dots"></i>
        <span>Messages</span>
      </a>
    </li>

    <li>
      <a routerLink="/profile" routerLinkActive="active">
        <i class="fa-regular fa-user"></i>
        <span>Account</span>
      </a>
    </li>
  </ul>

  <div class="cart fixed bottom-16 right-3 cursor-pointer" (click)="openDrawerCart=true">
    <button class="w-14 h-14 shadow-[rgba(0,0,0,0.1)_0_1px_30px_1px] flex bg-white rounded-[10px]">
      <!-- <i class="fa-solid fa-basket-shopping m-auto text-[20px]"></i> -->
      <img loading="lazy" src="assets/img/icons/icon-cart-black.svg" class="w-7 h-7 m-auto">
    </button>
  </div>
  <app-cart [(opened)]="openDrawerCart"></app-cart>
</nav>
