<div>
  <div class="font-bold mb-10 text-xl sm:text-2xl md:text-3xl w-full text-center">New and events</div>

  <div nz-row nzGutter="20" class="cursor-pointer lg:gap-0 gap-5">
    <div nz-col nzSpan="24" nzLg="12" class="group">
      <a href="#" class="text-grey hover:text-grey">
        <div class="rounded-lg overflow-hidden">
          <div class="w-full aspect-video overflow-hidden">
            <img src="assets/img/foods/food-default.webp"
              class="object-cover group-hover:scale-105 transition-all duration-300 w-full h-full">
          </div>
          <div
            class="new-events-card md:p-8 p-5 border-solid border border-t-0 border-gray-300 rounded-b-lg flex flex-col gap-2">
            <div>Uncategorized / September 7, 2020 / Post by admin</div>
            <h2 class="font-bold">10 Reasons To Do A Digital Detox Challenge</h2>
            <div class="line-clamp-2">
              Ac haca ullamcorper donec ante habi tasse donec imperdiet eturpis varius per a augue magna hac. Nec hac et
              vestibulum duis a tincidunt per a aptent interdum purus feugiat a id aliquet erat himenaeos nunc torquent
              euismod adipiscing adipiscing dui gravida justo.
            </div>
          </div>
        </div>
      </a>
    </div>

    <div nz-col nzSpan="24" nzLg="12">
      <div nz-row class="">
        <a href="#" class="text-grey hover:text-grey">
          <div class="rounded-lg overflow-hidden">
            <div class="w-full aspect-video overflow-hidden">
              <img src="assets/img/foods/food-default.webp"
                class="object-cover group-hover:scale-105 transition-all duration-300 w-full h-full">
            </div>
            <div
              class="new-events-card md:p-8 p-5 border-solid border border-t-0 border-gray-300 rounded-b-lg flex flex-col gap-2">
              <div>Uncategorized / September 7, 2020 / Post by admin</div>
              <h2 class="font-bold">10 Reasons To Do A Digital Detox Challenge</h2>
              <div class="line-clamp-2">
                Ac haca ullamcorper donec ante habi tasse donec imperdiet eturpis varius per a augue magna hac. Nec hac
                et
                vestibulum duis a tincidunt per a aptent interdum purus feugiat a id aliquet erat himenaeos nunc
                torquent
                euismod adipiscing adipiscing dui gravida justo.
              </div>
            </div>
          </div>
        </a>
        <!-- <div nz-col nzSpan="24" *ngFor="let item of [1,2,3]">
          <a href="#" class="text-grey hover:text-grey">
            <div class="rounded-lg overflow-hidden flex lg:flex-row flex-col">
              <div class="w-full aspect-video lg:min-w-56 lg:w-56 overflow-hidden">
                <img src="assets/img/foods/food-default.webp"
                  class="object-cover group-hover:scale-105 transition-all duration-300 w-full h-full">
              </div>
              <div
                class="new-events-card lg:p-4 md:p-8 sm:p-5 rounded-b-lg lg:rounded-r-lg lg:rounded-bl-none flex flex-col lg:gap-0 gap-3 border-solid border border-t-0 lg:border-l-0 lg:border-t border-gray-300 ">
                <div class="lg:hidden block">Uncategorized / September 7, 2020 / Post by admin</div>
                <h2 class="font-bold">10 Reasons To Do A Digital Detox Challenge</h2>
                <div class="lg:block hidden">August 31, 2020</div>
                <div class="line-clamp-2 lg:hidden">
                  Ac haca ullamcorper donec ante habi tasse donec imperdiet eturpis varius per a augue magna hac. Nec
                  hac et
                  vestibulum duis a tincidunt per a aptent interdum purus feugiat a id aliquet erat himenaeos nunc
                  torquent
                  euismod adipiscing adipiscing dui gravida justo.
                </div>
              </div>
            </div>
          </a>
        </div> -->
      </div>
    </div>

  </div>
</div>