<ng-container *ngIf="!isMapVisible; else map">
  <div class="bg-white rounded-md w-full p-4 h-full flex flex-col">
    <div class="flex items-center gap-4">
      <button class="outline-none border-none">
        <i (click)="closeModal()" class="fa-solid fa-arrow-left text-xl"></i>
      </button>
      <div class="border-gray-200 flex border w-full rounded-md h-10 items-center bg-white">
        <div class="px-5">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </div>

        <input (input)="searchByAddress($event)" class="outline-none bg-white border-none w-full h-full py-4 rounded-md"
          [placeholder]="'Deliver to ?'" />
      </div>
    </div>

    <section class="mt-5 flex-1 relative">
      <div>
        <div class="text-md font-medium">Current address</div>
        <div class="flex gap-3 items-center">
          <i class="fa-solid fa-street-view"></i>
          <span class="line-clamp-2 text-gray-500">{{ selectedAddress.address }}</span>
        </div>
      </div>

      <div *ngIf="addressList.length > 0" class="w-full h-fit max-h-[500px] overflow-y-auto">
        <div class="text-md font-medium">Result: </div>
        <ng-container *ngFor="let item of addressList; let last=last">
          <div (click)="selectAddress(item)" class="flex gap-3 items-center py-3 cursor-pointer"
            [ngClass]="{'border-0 border-b-[1px] border-gray-200' : !last}">
            <i class="fa-solid fa-street-view"></i>
            <span class="line-clamp-2 text-gray-500">{{ item.formatted_address }}</span>
          </div>
        </ng-container>
      </div>


      <button (click)="isMapVisible = true" *ngIf="addressList.length === 0"
        class="md:relative absolute bottom-0 left-0 right-0 bg-primary text-white w-full mt-5 py-3 rounded-md">
        <i class="fa-regular fa-map mr-2"></i>
        Choose from map
      </button>
    </section>
  </div>
</ng-container>

<ng-template #map>
  <div #mapContainer class="relative md:h-[80vh] h-full">
    <div class="absolute z-[401] top-4 left-4 right-4 flex items-center gap-4">
      <button (click)="closeMap()" class="w-10 h-10 rounded-full bg-white shadow-3x flex">
        <i class="fa-solid fa-arrow-left text-xl m-auto"></i>
      </button>
      <button (click)="closeMap()"
        class="rounded-full flex-1 h-10 bg-white shadow-3x flex items-center justify-start px-4">
        <div class="w-4 h-4 bg-red1 rounded-full flex">
          <div class="w-1 h-1 bg-white rounded-full m-auto"></div>
        </div>

        <div class="font-medium text-gray-400 ml-4">Deliver to</div>
      </button>
    </div>

    <app-map [locationMarkers]="locationMarkers" [addressList]="addressList"
      (addressListChange)="onMapSelectAddress($event)" [location]="location" [zoomValue]="14">
    </app-map>

    <button (click)="autoDetectLocation()"
      class="absolute right-4 top-2/3 w-10 h-10 flex rounded-full bg-white shadow-3x z-[400]">
      <i class="fa-solid fa-location-crosshairs m-auto text-lg"></i>
    </button>

    <div (click)="selectAddress(addressList[selectedAddressIndex])"
      class="absolute z-[403] bottom-0 left-0 right-0 p-4 bg-white shadow-3x">
      <button class="bg-primary w-full text-white py-3 rounded-md">
        Choose this location
      </button>
    </div>

    <div #resultsDrawer (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
      (touchend)="onTouchEnd($event)" id="resultsDrawer"
      class="absolute h-full top-full bottom-0 left-0 right-0 z-[402] bg-white rounded-tl-3xl rounded-tr-3xl"
      [ngClass]="{'animate-dragging' : isAnimateDragging}"
      [ngStyle]="{ transform: 'translateY(' + resultsDrawerTranslateY + 'px)' }">
      <button (mousemove)="onMouseMoveResultsDrawer($event)" (mouseup)="onMouseUpResultsDrawer($event)"
        (mousedown)="onMouseDownResultsDrawer($event)" (mouseleave)="onMouseUpResultsDrawer($event)"
        class="flex justify-center w-full py-4">
        <div class="bg-gray-400 w-12 h-1 rounded-full"></div>
      </button>

      <ng-container *ngFor="let item of addressList; let last=last; let index = index">
        <div (click)="selectedAddressIndex = index" class="flex gap-3 items-center py-3 px-4 cursor-pointer"
          [ngClass]="{'border-0 border-b-[1px] border-gray-200' : !last}"
          [ngClass]="{'bg-primary bg-opacity-10' : selectedAddressIndex == index}">
          <i class="fa-solid fa-street-view"></i>
          <span class="line-clamp-2 text-gray-500">{{ item.formatted_address }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>