<section class="flex flex-col h-full">
  <app-map [enableSelectLocation]="true" [locationMarkers]="locationMarkers" [(addressList)]="addressList" [location]="location" [zoomValue]="14"></app-map>
  <div class="flex flex-col flex-1 justify-between">
    <div class="p-5">
      <h2 class="font-bold text-gray-700 mb-3">Select your location</h2>
      <div class="flex flex-col relative z-10">
        <input type="text" placeholder="your location" class=" outline-none px-0 py-3 text-gray-500 border-x-0 border-t-0 focus:ring-0 focus:border-primary" [value]="addressSelected.address">
        <div class="shadow-5x rounded-b-lg absolute left-0 right-0 top-full translate-y-1">
          <ng-container *ngFor="let item of addressList">
            <div (click)="selectAddress(item)" class="px-2 py-1 cursor-pointer hover:bg-gray-100 bg-white">
              <p class="line-clamp-1">{{ item.formatted_address }}</p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="p-5 z-0">
      <button (click)="confirm()" class="w-full p-3 rounded-lg bg-primary text-white font-bold mb-3">
        Confirm Location
      </button>

      <button (click)="autoGetLocation()" class="w-full p-3 rounded-lg bg-gray-200 text-gray-600 font-bold">
        Auto
      </button>
    </div>
  </div>
</section>


<ng-template #resultSelectTemplate>

</ng-template>
