::ng-deep .map-selector .leaflet-control-container {
  @apply hidden;
}

::ng-deep .map-selector .ant-modal {
  /* @apply md:py-6 p-0;
  width: 100% !important; */
  @apply p-0 max-w-none lg:relative m-auto absolute lg:top-10 top-0 left-0 right-0 bottom-0;
}

::ng-deep .map-selector .ant-modal {
  width: 100% !important;
  /* height: 100% !important; */
  /* top: 0; */
}

::ng-deep .map-selector .ant-modal-content {
  /* @apply rounded-lg h-full overflow-hidden; */
  @apply rounded-lg lg:relative absolute top-0 left-0 right-0 bottom-0;
}

::ng-deep .map-selector .ant-modal-body {
  @apply p-0 rounded-lg h-full overflow-hidden;
}

@media (min-width: 992px) {
  ::ng-deep .map-selector .ant-modal {
    width: 800px !important;
  }
}
