<div *ngIf="reviews.length > 0">
  <div class="flex items-center gap-3">
    <h1 class="font-medium text-gray-700 text-base m-0">Rating and reviews</h1>
    <button (click)="isOpenReviewsDrawer = true"
      class="relative group w-7 h-7 shadow-6x rounded-full flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
      </svg>

      <div
        class="bg-[#555] group-hover:bg-opacity-100 group-hover:opacity-100 bg-opacity-0 opacity-0 transition-all duration-300 absolute bottom-full -translate-y-3 left-1/2 -translate-x-1/2 p-2 px-3 text-xs rounded-lg text-white whitespace-nowrap before:content-[''] before:absolute before:top-full before:left-1/2 before:-translate-x-1/2 before:border-4 before:border-transparent before:border-t-[#555]">
        Show more
      </div>
    </button>
  </div>
  <app-horizontal-scroll-slider>
    <ng-container *ngFor="let item of reviews">
      <app-review-card [review]="item"></app-review-card>
    </ng-container>
  </app-horizontal-scroll-slider>

  <app-review-drawer [reviews]="reviews" [(opened)]="isOpenReviewsDrawer"></app-review-drawer>
</div>