<app-page-loader [isLoading]="isLoading"></app-page-loader>
<app-home-sldier></app-home-sldier>

<div class="" [class.sectionContainer]="!isMobile">
  <div class="relative">
    <app-search-location></app-search-location>
  </div>
</div>

<div class="md:min-h-[500px] sectionContainer md:py-10 py-0">
  <app-cuisines-slider></app-cuisines-slider>
  <app-restaurant-slider [restaurants]="restaurants"></app-restaurant-slider>
</div>

<div class="w-full md:bg-[#f7f7f7] bg-white">
  <div class="sectionContainer md:p-5">
    <app-our-menu [foodItems]="foodItems"></app-our-menu>
  </div>
</div>