<div (click)="toggleChatbot()" [hidden]="isOpenChatBox"
  class="fixed md:right-10 right-4 bottom-16 z-[500] cursor-pointer md:scale-100 scale-75">

  <div class="absolute right-full top-1/5 z-20 bg-white rounded-full whitespace-nowrap shadow-lg p-3 bot-message">Hello
    em là GoPee
  </div>

  <div class="bot-move">
    <div class="w-[125%] h-1/2 rounded-2xl bg-yellow-400 absolute top-5 left-1/2 -translate-x-1/2"></div>
    <div class="relative bot-face-wrapper w-20 h-20 bg-yellow-300 p-3">
      <div class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-full flex flex-col items-center z-10">
        <div class="w-4 h-4 rounded-full bg-gray-700"></div>
        <div class="w-1 h-2 bg-gray-700"></div>
      </div>
      <div class="relative w-full h-full">
        <div class="bot-face bg-gray-700 absolute top-0 left-0 right-0 bottom-3 "></div>
        <div class="eyes absolute top-1/4 left-1/2 transform -translate-x-1/2 flex gap-3">
          <div class="w-3 h-5 bg-white rounded-full blink-animation"></div>
          <div class="w-3 h-5 bg-white rounded-full blink-animation"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!isOpenChatBox"
  class="chatbox fixed right-0 md:right-10 bottom-0 md:bottom-16 md:top-auto md:left-auto top-0 left-0 z-[500] bg-white shadow-lg md:rounded-lg md:w-96 md:h-[500px] overflow-hidden flex flex-col justify-between">
  <div class="chatbox-header h-10 p-3 bg-primary text-white flex justify-between">
    <div class="chatbox-title font-bold">GoPee</div>
    <button (click)="toggleChatbot()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <div #chatBoxBody class="chatbox-body max-w-full flex-1 overflow-y-auto overflow-x-hidden">
    <div class="max-w-full">
      <ng-container>
        <ng-container *ngFor="let item of messages">
          <div *ngIf="item.sender=='bot'" class="p-3 flex gap-2 w-full">
            <div class="min-w-10 min-h-10 w-10 h-10 rounded-full bg-transparent">
              <img src="assets/img/icons/bot.png" alt="" class="object-cover w-full h-full rounded-full">
            </div>
            <div class="chatbox-message-wrapper max-w-[75%] flex gap-1 flex-col">
              <div class="chatbox-message-content max-w-full bg-gray-200 p-2 rounded-lg">
                {{ item.message }}
              </div>
              <ng-container [ngTemplateOutlet]="restaurantListTemplate"
                [ngTemplateOutletContext]="{restaurants: item.restaurants}">
              </ng-container>
            </div>
          </div>
          <div *ngIf="item.sender == 'user'" class="user-message p-3 flex justify-end items-center gap-2 w-full">
            <div class="chatbox-message-content max-w-[75%] bg-gray-200 p-2 rounded-lg break-words">
              {{ item.message }}
            </div>
            <div class="min-w-10 min-h-10 w-10 h-10 rounded-full bg-gray-300">
              <img [src]="customerAvt" onerror="this.src='assets/img/avatars/user.png'" alt=""
                class="object-cover w-full h-full rounded-full">
            </div>
          </div>
        </ng-container>
        <div *ngIf="isThinking" class="p-3 flex gap-2 items-center">
          <div class="min-w-10 min-h-10 w-10 h-10 rounded-full bg-transparent">
            <img src="assets/img/icons/bot.png" alt="" class="object-cover w-full h-full rounded-full">
          </div>
          <div class="h-fit max-w-full bg-gray-200 p-3 rounded-lg">
            <div class="load-row flex items-center gap-1 justify-center">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="chatbox-input h-16 p-3 flex items-center justify-between gap-2">
    <input #chatInput (keydown.enter)="sendMessage()" [(ngModel)]="newMessage" type="text"
      placeholder="Type your message..."
      class="rounded-lg text-sm focus:border-0 border-none focus:ring-0 bg-slate-200 flex-1" />
    <button (click)="sendMessage()" class="">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6" [ngClass]="{'text-primary': newMessage!==''}">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
      </svg>
    </button>
  </div>
</div>
<ng-template #restaurantListTemplate let-restaurants="restaurants">
  <div *ngIf="restaurants" class="max-w-full">
    <app-horizontal-scroll-slider *ngIf="restaurants.length > 0" [isDisplayButton]="restaurants.length > 1"
      [buttonControlSize]="'1.5rem'" [scrollStep]="1">
      <a [routerLink]="'/restaurant/' + convertToSlug(item.restaurant_name, item.restaurant_id)"
        *ngFor="let item of restaurants" class="" [ngClass]="restaurants.length > 1 ? 'min-w-48 w-48' : 'min-w-full'">
        <div class="flex flex-col w-full rounded-lg overflow-hidden">
          <div class="w-full" [ngClass]="restaurants.length > 1 ? 'h-32' : 'h-40'">
            <img [src]="item.restaurant_avatar" alt="" class="w-full h-full object-cover rounded-lg">
          </div>
          <div class="">
            <div class="line-clamp-1 max-w-full py-1">{{ item.restaurant_name }}</div>

            <div class="grid gap-2">
              <div *ngFor="let food of item.foodItems" class="flex items-center gap-2">
                <img [src]="food.image" alt="" class="min-w-10 max-w-10 h-10 rounded-full object-cover">
                <div class="grid gap-1">
                  <div class="max-w-full line-clamp-1 text-xs">{{ food.name }}</div>
                  <div class="text-xs">{{ food.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </app-horizontal-scroll-slider>
  </div>
</ng-template>