<div class="p-3">
  <div class="pb-4 border-gray-200 border-[1px] border-t-0 border-x-0">
    <h3 class="font-medium">My profile</h3>
    <span class="text-gray-400 text-sm">Manage and protect your account</span>
  </div>

  <div nz-row class="pt-12">
    <div nz-col nzSpan="19" class="flex pr-32">
      <div class="w-full flex flex-col justify-between">
        <div class="w-full">
          <div class="relative z-0 w-full mb-5 group">
            <input type="text" name="fullname" id="fullname" [value]="profile.full_name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-[1px] border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-primary peer"
              placeholder=" " required />
            <label for="fullname"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Fullname</label>
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input type="email" name="floating_email" id="floating_email" [value]="profile.email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-[1px] border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-primary peer"
              placeholder=" " required />
            <label for="floating_email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
              address</label>
          </div>
          <div class="relative z-0 w-full group">
            <input type="text" name="address" id="address" [value]="profile.address"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-[1px] border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-primary peer"
              placeholder=" " required />
            <label for="address"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Address</label>
          </div>
        </div>
        <button type="submit"
          class="text-white w-28 bg-primary hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-green2 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
      </div>
    </div>

    <div nz-col nzSpan="5" class="flex flex-col items-center gap-3">
      <div class="w-36 h-36 rounded-full overflow-hidden">
        <img [src]="this.profile.avatar" onerror="this.src='assets/img/avatars/user.png'"
          class="object-cover w-full h-full">
      </div>
      <input #selectImage [hidden]="true" type="file">
      <button (click)="selectImage.click()"
        class="px-5 py-3 hover:bg-gray-100 bg-white text-gray-500 rounded-md border border-gray-400">Select image
      </button>
      <span class="text-gray-400 text-xs">
        File size: maximum 1 MB <br />
        File extension: .JPEG, .PNG
      </span>
    </div>
  </div>
</div>
