<div
  class="flex gap-3 cursor-pointer border border-solid border-transparent hover:border-primary p-3 rounded-2xl group bg-white shadow-md">

  <div class="relative min-w-28 h-28 w-28 rounded-2xl overflow-hidden">
    <img src="" onerror="this.src='assets/img/foods/food-default.webp'"
      class="object-cover w-full h-full group-hover:scale-105 transition-all duration-500">
    <span class="absolute top-1 left-1 text-xs font-medium text-white bg-primary px-2 py-1 rounded-2xl">Bán chạy</span>
  </div>

  <div class="w-full">
    <h3 class="line-clamp-2 font-bold">Combo 10 cuốn tôm thịt, kèm nước chấm nhà làm siêu ngon</h3>
    <p class="text-gray-500 line-clamp-2">gồm bún,tôm cà mau,rau cải hẹ dưa leo</p>

    <div class="flex justify-between">
      <div class="flex flex-wrap gap-3 items-center">
        <span class="font-bold">{{ 10000 }}</span>
        <div class="flex items-center gap-2">
          <s class="text-gray-500">{{ 20000 }}</s>
          <i class="fa-solid fa-tag text-red"></i>
        </div>
      </div>
      <div class="min-w-7 h-7 rounded-[50%] bg-primary flex items-center justify-center cursor-pointer">
        <i class="fa-solid fa-plus text-white"></i>
      </div>
    </div>
  </div>
</div>