<header class="bg-white">
  <div class="sectionContainer">
    <h1 class="m-0 py-7 font-medium">
      {{ basket.cart.restaurant_name }}
    </h1>
  </div>
</header>

<section class="bg-gray-100">
  <div class="sectionContainer py-5">

    <div nz-row nzGutter="20">
      <div nz-col nzSpan="24" nzLg="16">
        <div class="bg-white rounded-t-lg mb-5">
          <div class="shadow-header p-5">
            <h3 class="m-0 font-bold text-gray-700">Giao tới</h3>
          </div>

          <div class="p-5 flex flex-col gap-5">
            <section class="flex flex-col text-gray-500 font-medium">
              <label for="" class="mb-2">Địa chỉ</label>
              <div class="border border-gray-300 relative rounded-lg overflow-hidden">
                <i class="fa-solid fa-location-dot absolute top-1/2 -translate-y-1/2 left-4 text-lg text-red"></i>

                <input type="text" class="border-none text-sm font-normal outline-none ring-0 w-full px-10 py-3"
                  [value]="addressSelected.address">

                <button (click)="showMapSelector()" nzPopoverPlacement="left" nz-popover nzType="primary"
                  nzPopoverContent="Click here to select location" [nzPopoverVisible]="true"
                  nzPopoverOverlayClassName="popover-select-location" class="absolute top-1/2 -translate-y-1/2 right-4">
                  <i class="fa-solid fa-location-crosshairs text-lg text-primary"></i>
                </button>
              </div>
            </section>

            <section class="flex flex-col text-gray-500 font-medium">
              <label for="" class="mb-2">Ghi chú cho tài xế</label>
              <input type="text"
                class="border-gray-300 focus:ring-0 ring-0 focus:border-gray-300 px-5 py-3 text-sm font-normal outline-none rounded-lg"
                [placeholder]="'VD: Đậu cách nhà 100m'">
            </section>
          </div>
        </div>

        <div class="bg-white rounded-b-lg">
          <div class="shadow-header p-5 flex items-center justify-between">
            <h3 class="m-0 font-bold text-gray-700 uppercase">Đơn hàng ({{basket.cart.items.length}})</h3>
            <a [routerLink]="['/restaurant', basket.cart.restaurant_id]" class="font-medium text-[#2b77eb] text-base">
              Thêm món
            </a>
          </div>
          <ng-container [ngTemplateOutlet]="cartItemsTemplate"></ng-container>
        </div>
      </div>

      <div nz-col nzSpan="24" nzLg="8">
        <div class="bg-white rounded-t-lg mt-5 mb-5 lg:mt-0">
          <div class="shadow-header p-5 ">
            <h3 class="m-0 font-bold text-gray-700">Hình thúc thành toán & ưu đãi</h3>
          </div>

          <div class="p-5 cursor-pointer">
            <div class="relative mb-5">
              <div class="border relative border-gray-300 rounded-xl h-11 overflow-hidden">
                <ng-container
                  *ngTemplateOutlet="paymentMethodTemplate; context: { $implicit:  paymentMethodSelected }"></ng-container>

                <i class="fa-solid absolute right-4 -translate-y-1/2 top-1/2"
                  [ngClass]="isSelectPaymentMethod? 'fa-chevron-up': 'fa-angle-down'"></i>
              </div>

              <div *ngIf="isSelectPaymentMethod"
                class="absolute top-full left-0 right-0 translate-y-1 bg-white shadow rounded-lg ">
                <ng-container *ngFor="let item of paymentMethod">
                  <ng-container *ngTemplateOutlet="paymentMethodTemplate; context: { $implicit:  item }"></ng-container>
                </ng-container>
              </div>
            </div>


            <div class="border border-gray-300 rounded-xl h-11 flex items-center px-4 text-xl  justify-between">

              <div class="flex items-center gap-3">
                <i class="fa-solid fa-ticket text-red"></i>
                <span class="text-sm text-gray-500">Đã áp dụng {{basket.cart.campaign_ids.length}} mã KM</span>
              </div>
              <button (click)="showPromotion()" class="font-bold text-[#2b77eb] text-sm">Chọn mã</button>
            </div>
            <p class="text-gray-400 m-0 font-medium mt-1 text-xs">Bạn có thể áp dụng nhiều mã giảm giá một lúc</p>
          </div>
        </div>

        <div class="bg-white rounded-b-lg">
          <div class="shadow-header p-5">
            <h3 class="m-0 font-bold text-gray-700">
              Thanh toán
            </h3>
          </div>

          <div class="shadow-header p-5">
            <div class="flex items-center justify-between mb-2">
              <span class="font-medium">Tạm tính</span>
              <span>{{ this.basket.subtotal.toLocaleString("vi-VN", { style: "currency", currency: "VND" }) }}</span>
            </div>

            <div class="flex items-center justify-between mb-2">
              <span class="font-medium">Phí vận chuyển</span>
              <span>{{ formatMoney(quote.delivery_fare) }}</span>
            </div>

            <div class="flex items-center justify-between mb-2">
              <span class="font-medium">Phí nền tảng</span>
              <span>{{ formatMoney(2000) }}</span>
            </div>

            <div class="flex items-center justify-between">
              <span class="font-medium">Áp dụng khuyến mãi</span>
              <span class="text-green">- {{ formatMoney(discount_value) }}</span>
            </div>
          </div>
          <div class="p-5">
            <div class="flex items-center justify-between">
              <span class="font-bold text-xl">Tổng tiền</span>
              <span class="font-bold text-xl"> {{ formatMoney(basket.subtotal + quote.delivery_fare - discount_value +
                2000)
                }}</span>
            </div>
            <button (click)="placeOrder()" class="p-3 mt-5 bg-primary w-full text-white font-bold rounded-lg">
              Đặt món
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<ng-template #paymentMethodTemplate let-data>
  <div (click)="selectPaymentMethod(data)" class="bg-white hover:bg-[#ffe8d6] rounded-xl h-11 flex px-4">
    <div class="h-8 w-fit my-auto">
      <img [src]="data.image" class="h-full object-cover select-none">
    </div>
    <span class="my-auto select-none text-sm font-medium text-gray-600 ml-4">{{ data.name }}</span>
  </div>
</ng-template>


<ng-template #cartItemsTemplate>
  <div class="p-5 flex flex-col gap-4">
    <ng-container *ngFor="let item of basket.cart.items; let last = last; let index = index">
      <div [ngClass]="last ? '' : 'shadow-header pb-5'">
        <ng-container
          *ngTemplateOutlet="foodItemCardTemplate; context: { foodItem: item, index: index }"></ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #foodItemCardTemplate let-foodItem="foodItem" let-index="index">
  <div class="flex gap-4">
    <img [src]="foodItem.image" alt="" class="w-16 h-16 aspect-square object-cover rounded-lg">
    <div class="flex-1 flex flex-col justify-between">
      <div class="flex justify-between mb-3 items-start">
        <div class="flex flex-col">
          <div class="">
            <span class="font-bold text-gray-700 uppercase">{{ foodItem.food_name }}</span>
            <span class="font-normal text-gray-500 ml-1">x{{ foodItem.quantity }}</span>
          </div>
          <span class="text-gray-400">Giá gốc: {{ foodItem.base_price.toLocaleString("vi-VN", { style: "currency",
            currency:
            "VND" }) }}</span>
          <span *ngFor="let modifier of foodItem.modifiers" class="text-gray-400">{{ modifier.name }} + {{
            modifier.price.toLocaleString("vi-VN", { style: "currency", currency: "VND" }) }}</span>
        </div>

        <button (click)="removeFoodItem(foodItem.food_id)">
          <i class="fa-solid fa-trash-can text-lg hover:text-red"></i>
        </button>
      </div>

      <div class="flex justify-between">
        <button (click)="createFoodDetailsDrawer(foodItem, index)" class="font-bold text-[#2b77eb] text-sm">Chỉnh sửa
          món</button>
        <span class="font-bold">{{ getFoodItemPrice(foodItem).toLocaleString("vi-VN", { style: "currency", currency:
          "VND"
          }) }}</span>
      </div>
    </div>
  </div>
</ng-template>