#header {
  @apply md:bg-[linear-gradient(180deg,rgba(0,0,0,0.4),transparent)] transition-[background-color] duration-[0.3s] ease-[ease];
}

#header.header-sticky {
  position: sticky;
  box-shadow: 0 1px 1px rgba(28, 28, 28, 0.1);
}
#header.scrolled,
#header.header-sticky {
  background-color: white;
  background-image: none;
}
/* #header.scrolled.header-sticky {
  box-shadow: none;
} */

#header.scrolled {
  box-shadow: 0 1px 1px rgba(28, 28, 28, 0.1);
}

#header.scrolled .logo,
#header.header-sticky .logo {
  @apply text-primary;
}
#header .logo {
  @apply md:text-white text-primary;
}
::ng-deep #header nz-select-top-control {
  border-radius: 4px !important;
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #676767;
  @apply md:h-10 h-7 md:w-28 w-24 border border-solid border-gray-200;
}

::ng-deep .badge-cart nz-badge-sup {
  right: 100% !important;
}
