<div appScroll id="header" class="w-full py-3 md:py-5 top-0 left-0 z-50 md:fixed sticky hidden md:block"
  [class.header-sticky]="isSticky">
  <div class="sectionContainer flex justify-between items-center flex-wrap">
    <a routerLink="/" class="logo md:text-3xl text-xl font-medium text-white cursor-pointer">GoPFood</a>

    <div [ngClass]="isSticky ? 'border-gray-200' : 'border-transparent'"
      class="search-bar border pr-5 flex-1 max-w-96 rounded-md h-10 items-center bg-white lg:flex hidden">
      <div class="px-5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>
      </div>

      <input [(ngModel)]="searchValue" (keydown.enter)="search()"
        class="outline-none bg-white border-none w-full h-full py-4 rounded-md" placeholder="What shall we deliver?" />
    </div>

    <!-- <ng-container>
      <div class="relative border md:border-gray-300 border-gray-300 flex-1 max-w-96 rounded-md h-10 lg:flex hidden">
        <i class="fa-solid fa-compass text-lg cursor-pointer text-red absolute  left-3 top-1/2 -translate-y-1/2"></i>

        <input [ngModel]="address" class="outline-none px-10 rounded-md h-full grow max-w-full w-full" />

        <i
          class="fa-solid fa-location-crosshairs text-lg text-primary cursor-pointer absolute right-3 top-1/2 -translate-y-1/2"></i>
      </div>
    </ng-container> -->

    <div class="flex items-center md:gap-3 gap-1 md:h-10 h-7">
      <ng-container *ngIf="basket.subtotal <= 0">
        <div (click)="openDrawer = true"
          class="w-10 h-10 gap-2 group rounded hidden md:flex justify-center items-center bg-white border border-solid border-gray-200 cursor-pointer ">
          <img loading="lazy" src="assets/img/icons/icon-cart-black.svg" class="w-4 h-4">
        </div>
      </ng-container>

      <ng-container *ngIf="basket.subtotal > 0">
        <nz-badge nzPlacement="left" [nzCount]="basket.cart.items.length" [nzOverflowCount]="10" class="badge-cart">
          <div class="h-10 select-none bg-primary rounded hidden md:flex justify-center items-center cursor-pointer"
            (click)="openDrawer = true">
            <div class="px-3 gap-2 group flex justify-center items-center cursor-pointer ">
              <img loading="lazy" src="assets/img/icons/icon-cart-white.svg" class="w-4 h-4">
              <span class="font-medium text-white">{{ basket.subtotal.toLocaleString('vi', {style : 'currency',
                currency
                : 'VND'})
                }}</span>
            </div>
          </div>
        </nz-badge>
      </ng-container>

      <a [routerLink]="['/wishlist']"
        class="wishlist h-full cursor-pointer aspect-square bg-transparent relative rounded-full">
        <nz-badge nzPlacement="left" [nzCount]="wishlist" [nzOverflowCount]="10"
          class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2">
          <i class="fa-solid fa-heart m-auto text-3xl text-white"></i>
        </nz-badge>
      </a>

      <div class="h-full">
        <a *ngIf="isLogged" [routerLink]="['/user']" class="md:w-10 w-7 h-full flex items-center">
          <img loading="lazy" [src]="customerAvt" alt="avatar" onerror="this.src='assets/img/avatars/user.png'"
            class="w-full h-full rounded-[50%]">
        </a>
        <div *ngIf="!isLogged" (click)="openAuthForm=true"
          class="cursor-pointer select-none h-full flex items-center bg-white rounded border border-solid border-gray-200">
          <div class="text-grey1 font-medium text-[12px] text-center px-3">{{ langData + 'DANG_NHAP' | translate}}
          </div>
        </div>
      </div>
      <nz-select [(ngModel)]="currLang" class="" nzSize="large" (ngModelChange)="switchLanguage()">
        <nz-option nzValue="vi" nzLabel="Việt Nam"></nz-option>
        <nz-option nzValue="en" nzLabel="English"></nz-option>
      </nz-select>
    </div>
  </div>
</div>

<app-cart [(opened)]="openDrawer"></app-cart>
<app-auth [(openAuthForm)]="openAuthForm"></app-auth>