<!-- <div class="sectionContainer hidden">
  <div nz-row nzGutter="20" class="lg:gap-0 gap-5">

    <div nz-col nzSpan="24" nzLg="8" class="our-service-card">
      <div class="flex flex-col lg:flex-row gap-3 items-center">
        <div class="min-w-24 w-24 h-24 bg-green4 rounded-[50%] flex justify-center items-center">
          <img loading="lazy" src="assets/img/icons/icon-online-payment.png" class="object-cover">
        </div>
        <div class="text-center lg:text-left">
          <span class="font-bold text-lg text-black">Thanh toán tiện lợi</span> <br>
          <span class="text-gray-500 text-sm">GoPFood cung cấp dịch vụ giao đồ ăn nhanh</span>
        </div>
      </div>
    </div>

    <div nz-col nzSpan="24" nzLg="8" class="our-service-card">
      <div class="flex flex-col lg:flex-row gap-3 items-center">
        <div class="min-w-24 w-24 h-24 bg-green4 rounded-[50%] flex justify-center items-center">
          <img loading="lazy" src="assets/img/icons/ilus-cool-features-app.svg" class="object-cover">
        </div>
        <div class="text-center lg:text-left max-w-72 overflow-hidden text-wrap">
          <span class="font-bold text-lg text-black">Booking dễ dàng</span> <br>
          <span class="text-gray-500 text-sm ">Vài cú nhấp chuột hoặc chạm nhẹ là đã có
            thể đặt đồ
            ăn</span>
        </div>
      </div>
    </div>

    <div nz-col nzSpan="24" nzLg="8" class="our-service-card">
      <div class="flex flex-col lg:flex-row gap-3 items-center">
        <div class="min-w-24 w-24 h-24 bg-green4 rounded-[50%] flex justify-center items-center">
          <img loading="lazy" src="assets/img/icons/scooter.png" class="object-cover">
        </div>
        <div class="text-center lg:text-left max-w-72 overflow-hidden text-wrap">
          <span class="font-bold text-lg text-black">Giao hàng nhanh</span> <br>
          <span class="text-gray-500 text-sm">Đồ ăn của khách hàng sẽ được giao tận tay </span>
        </div>
      </div>
    </div>

  </div>
</div> -->


<div class="sectionContainer md:mb-0 !mb-10">
  <div nz-row nzGutter="20">
    <div nz-col nzLg="8" nzSpan="24" class="lg:mb-0 mb-5">
      <div class="rounded-xl w-full h-full flex flex-col items-center gap-5 shadow p-8">
        <h2 class="font-bold">Place an Order!</h2>
        <img loading="lazy" src="assets/img/icons/place-order.png" class="w-28">
        <span>Place order through our website or Mobile app</span>
      </div>
    </div>

    <div nz-col nzLg="8" nzSpan="24" class="lg:mb-0 mb-5">
      <div class="rounded-xl w-full h-full flex flex-col items-center gap-5 shadow p-8">
        <h2 class="font-bold">Track Progress</h2>
        <img loading="lazy" src="assets/img/icons/map-tracking.png" class="w-28">
        <span>Your can track your order status with delivery time</span>
      </div>
    </div>

    <div nz-col nzLg="8" nzSpan="24" class="lg:mb-0 mb-5">
      <div class="rounded-xl w-full h-full flex flex-col items-center gap-5 shadow p-8">
        <h2 class="font-bold">Get Your Order</h2>
        <img loading="lazy" src="assets/img/icons/food-delivery.png" class="w-28">
        <span>Receive your order at a lighting fast speed!</span>
      </div>
    </div>
  </div>
</div>