<!-- <div class="min-h-96 bg-white pt-6">
  <div>
    <app-restaurant-info></app-restaurant-info>
    <app-restaurant-menu></app-restaurant-menu>
  </div>
</div> -->

<div>
  <img src="assets/img/foods/banh-mi.jpg" class="md:hidden block w-full h-auto">
  <div class="relative xs:-translate-y-[12rem] sm:-translate-y-[15rem] -translate-y-[6rem] md:-translate-y-0 min-h-96 bg-transparent pt-6">
    <div>
      <app-restaurant-info></app-restaurant-info>
      <app-restaurant-menu></app-restaurant-menu>
    </div>
  </div>
</div>
